OPENAI_API_KEY=[optional - for OpenAI models]
BOT_TOKEN=
AUTHORIZED_USERS=
BUFFER_MESSAGES_TIMEFRAME=
DB_PATH=
AI_BASE_URL=[optional - for self-hosted ollama models]
MODEL=[optional - default: gpt-40]